
@{
    ViewBag.Title = "Menu Principal";
}

<div class="menu">
    <div class="row col-md-8">
        <div class="col-md-3">
            <img class="menuHeaderImage" src="@Url.Content("~/Content/Image/escudoSinFondo.png")">
        </div>
        <div class="col-md-9">
            <h3 class="menuHeaderTitle">Menú Principal</h3>
        </div>
    </div>
    <div class="row col-md-8">
        <div class="col-md-12">
            <button type="button" class="menuButton">Recibir Documentos Diarios</button>
            <button type="button" class="menuButton">Vizualizar Trámite</button>
            <button type="button" class="menuButton">Salir</button>
        </div>
    </div>
</div>
